{% extends 'base.html.twig' %}

{% block title %}
	Team index
{% endblock %}

{% block body %}

    <section class="team-section">
    </section>
	<h1>Team index</h1>

	{% if teams is empty %}
		<p>Aucune équipe encore créée, tu peux en créer une juste ici ↓</p>
	{% else %}
		{% for team in teams %}

			{% if team.user == app.user %}
				<div class="team-container">
					<h2>{{ team.name }}</h2>
					<button class="toggle-details">Toggle Details</button>
					<div class="team-details" style="display: none;">
						<h3>Pokémons</h3>
						<ul>
							{% for pokemon in team.pokemon %}
								<li>
									<p>
										Nom:
										{{ pokemon.nickname }}
									</p>
									<p>
										Species:
										{{ pokemon.species.name }}
									</p>
									<p>
										<img src="{{ asset('pokemon/species/' ~ pokemon.species.imageName) }}" alt="{{ pokemon.species.name }}" class="pokemon-image">
									</p>
									<p>
										Types:
										{% for type in pokemon.type %}
											{{ type.name }}
										{% endfor %}
									</p>
									<p>
										Ability:
										{{ pokemon.ability.name }}
									</p>
									<p>
										User:
										{{ pokemon.user.username }}
									</p>
									<p>
										Level:
										{{ pokemon.level }}
									</p>
									<p>
										Item:
										{{ pokemon.item.name }}
									</p>
									<p>Moveset:
										{% for moveset in pokemon.moveset %}
											{{ moveset.name }}
										</p>
									{% endfor %}
									<a href="{{ path('app_pokemon_show', {'id': pokemon.id}) }}">show</a>
									<a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>
								</li>
							{% endfor %}
						</ul>
						<h3>Modifier l'équipe</h3>
						<a href="{{ path('app_team_edit', {'id': team.id}) }}">Modifier l'équipe</a>
					</div>
				</div>

			{% endif %}
		{% endfor %}
	{% endif %}
	<a href="{{ path('app_team_new') }}">Create new</a>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
let toggleButtons = document.querySelectorAll('.toggle-details');
toggleButtons.forEach(function (button) {
button.addEventListener('click', function () {
let details = this.nextElementSibling;
details.style.display = details.style.display === 'none' ? 'block' : 'none';
});
});
});
	</script>
{% endblock %}
