{% extends 'base.html.twig' %}

{% block title %}New Pokemon
{% endblock %}

{% block body %}
	<h1>Create new Pokemon</h1>
	<div class="">
		{{ form_start(form, {'attr': {'class': 'form-main'}}) }}


		{{ form_label(form.level, 'Level') }}
		{{ form_widget(form.level, {'attr': {'class': 'form-control form-item'}}) }}
		{{ form_errors(form.level) }}

		{{ form_label(form.nickname, 'Nickname') }}
		{{ form_widget(form.nickname, {'attr': {'class': 'form-control form-item'}}) }}
		{{ form_errors(form.nickname) }}

		{{ form_label(form.user, 'Username') }}
		{{ form_widget(form.user, {'attr': {'class': 'form-control form-item select2', 'multiple': 'multiple'}}) }}
		{{ form_errors(form.user) }}

		{{ form_label(form.item, 'Item') }}
		{{ form_widget(form.item, {'attr': {'class': 'form-control form-item select2', 'required': false, 'min': 0, 'max': 1}}) }}
		{{ form_errors(form.item) }}

		{{ form_label(form.species, 'Species') }}
		{{ form_widget(form.species, {'attr': {'class': 'form-control form-item select2', 'multiple': 'multiple'}}) }}
		{{ form_errors(form.species) }}

		{{ form_label(form.ability, 'Ability') }}
		{{ form_widget(form.ability, {'attr': {'class': 'form-control form-item select2'}, 'required': true}) }}
		{{ form_errors(form.ability) }}

		{{ form_label(form.moveset, 'Moveset') }}
		{{ form_widget(form.moveset, {'attr': {'class': 'form-control form-item select2'}, 'required': true, 'min': 1, 'max': 1}) }}
		{{ form_errors(form.moveset) }}

		{{ form_label(form.type, 'Type') }}
		{{ form_widget(form.type, {'attr': {'class': 'form-control form-item select2'}, 'required': true, 'min': 1, 'max': 1}) }}
		{{ form_errors(form.type) }}


		{{ form_label(form.teams, 'Teams') }}
		{{ form_widget(form.teams, {'attr': {'class': 'form-control form-item select2'}, 'required': false, 'min': 0}) }}
		{{ form_errors(form.teams) }}


		<button type="submit">Create</button>
		{{ form_end(form) }}

		<a href="{{ path('pokemon_index') }}">Back to list</a>
	</div>
{% endblock %}
