{% extends 'base.html.twig' %}

{% block title %}Edit Pokemon
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css" rel="stylesheet"/>
	<style></style>
{% endblock %}
{% block body %}
	<h1>Edit Pokemon</h1>

	<a href="{{ path('pokemon_index') }}">Back to list</a>

		<div class="form-image-box"><img src="{{ asset('pokemon/species/' ~ pokemon.species.imageName) }}" alt="{{ pokemon.species.name }}" class="pokemon-image-form"></div>

					<p>{{ pokemon.level }}</p>

					<p>
						{{ pokemon.nickname }}
					</p>

					<p>
						{{ pokemon.user.username }}
					</p>

					{% for type in pokemon.type %}
						<p>{{ type.name }}</p>
					{% endfor %}

					<p>
						{{ pokemon.species.name }}</p>

					<p>{{ pokemon.ability.name }}</p>

					{% for moveset in pokemon.moveset %}
						<p>{{ moveset.name }}</p>
					{% endfor %}

					{% for type in pokemon.type %}
						<p>
							{{ type.name }}</p>
					{% endfor %}


					{% for team in pokemon.type %}
						<p>
							{{ team.name }}</p>
					{% endfor %}
		{{ include('pokemon/_delete_form.html.twig') }}
	{% endblock %}
	{% block javascripts %}{% endblock %}
